<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
    <title>[[${product.getBrand()}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<script>
    var source = new EventSource("/stock/" + [[${product.id}]]);
    source.onmessage = function (event) {
        var stockQuantity = JSON.parse(event.data).stockQuantity;
        if (stockQuantity === 0) {
            document.getElementById("productButton").disabled = true;
            document.getElementById("productButton").innerText = 'Stoklar Tükendi!';
            console.log("hebele");
        } else {
            document.getElementById("stock-quantity").innerHTML = stockQuantity;
        }
    };
</script>
<form action="/order" method="post">
    <div class="card">
        <img th:src="${product.imageUrl}" style="width:100%">
        <h1><span th:text="${product.getBrand()}"></span></h1>
        <div th:if="${product.getPrice()!=product.getDiscountedPrice()}">
            <p class="price">Liste Fiyatı:
                <del><span th:text="${product.getPrice()}"></span></del>
                ₺
            </p>
            <p class="price">Kampanyalı Fiyatı:<span th:text="${product.getDiscountedPrice()}"></span>₺</p>
        </div>

        <div th:if="${product.getPrice()==product.getDiscountedPrice()}">
            <p class="price">Liste Fiyatı:
                <span th:text="${product.getPrice()}"></span>₺
            </p>
        </div>

        <p>Renk :<span th:text="${product.getColor()}"></span></p>
        <p>Stok Miktarı: <span id="stock-quantity" th:text="${product.stockQuantity}"></span></p>
        <p>
            <label for="quantity">Miktar :</label>
            <input type="number" id="quantity" min="1" name="quantity" value="1">
        </p>
        <p>
            <button name="productId" id="productButton" th:disabled="${product.stockQuantity==0}"
                    th:value="${product.id}">Satın Al
            </button>
        </p>
    </div>
</form>
</body>
</html>