<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">
<head>
    <title>Ürünler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<form action="/products">
    <table>
        <tr th:each="product: ${products}">
            <div class="card">
                <img th:src="${product.imageUrl}" style="width:100%">
                <h1><span th:text="${product.getBrand()}"></span></h1>
                <div th:if="${product.getPrice()!=product.getDiscountedPrice()}">
                    <p class="price">Liste Fiyatı:
                        <del><span th:text="${product.getPrice()}"></span></del>
                        ₺
                    </p>
                    <p class="price">Kampanyalı Fiyatı:<span th:text="${product.getDiscountedPrice()}"></span>₺</p>
                </div>

                <div th:if="${product.getPrice()==product.getDiscountedPrice()}">
                    <p class="price">Liste Fiyatı:
                        <span th:text="${product.getPrice()}"></span>₺
                    </p>
                </div>
                <p>Renk :<span th:text="${product.getColor()}"></span></p>
                <p>Stok Miktarı: <span id="quantity" th:text="${product.stockQuantity}"></span></p>
                <p>
                    <button name="id" th:value="${product.id}">İncele</button>
                </p>
            </div>
        </tr>
    </table>
</form>
</body>
</html>